/* Inter Google Font */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');
                

.bonheur-royale-regular {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 135px;
  }
  





/* *{
    margin: 0;
    padding: 0;
} */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.display-flex{
    display: flex;
}
.btn-primary{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 42px ;
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
}
.shared-title{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    /* text-align: left; */
    }    
.shared-description{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
text-align: center;
}
.share-position{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    
}
.circle-img{
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}





/* header style  */
.bg-color-header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: black;
}
/* nav sction style */
.navbar{
    justify-content: space-around;
    align-items: center;

}
.brand{
    font-weight: 800;
    font-size: 2.2rem;
    color: #E6533C;
    font-style: italic;
}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px ;
    width: 457px;
    height: 38px;
    gap: 47px;
    justify-content: space-between;
    align-items: center;
    
} 
.nav-item{
    list-style: none;
    align-items: center;
}   
.nav-link{ 
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white; 
}
.nav-btn{
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    border: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}



/* banner style */
.banner{
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title{
    color: white;
    font-size: 78px;
    font-weight: 900;
    margin: 0px ;
    line-height: 80px;
}
.top-line{
    margin:0;
}
.banner-description{
    color: white;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
    margin-bottom: 28px;
}
.download-btn{
    background:none ;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 42px 16px 42px ;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-left: 14px;
}

/* banner card style */
.card{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 193px;
    height: 98px;
    left: 1250px;
    top: 250px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}
.card-top-title{
    color: white;
    font-size: 3.1rem;
    font-weight: 900;
    margin: 0;
}
.card-top-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}
.card2{
    position: absolute;
    display:flex;
    gap: 12px;
    width: 206px;
    height: 96px;
    left: 900px;
    top: 556px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    
}
.circle{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border: none;
    border-radius: 100px;
}
.card-title{
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
}
.card-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
}




/* main section style */
.main-section{
    margin-top: 100px;
}
.main-title{
color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
text-align: center;
margin: 0;
}
.main-description{
    margin-bottom: 54px;
}
.img-section{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}